---
layout: default
title: Bless Fertigkeiten Baum
---

<h2>Klassen</h2>

<div class='container'>
  <div class='row'>
    {% for class in site.data.classe %}
    <div class='col-sm class-table'>

      <a href='{{ class.page }}.html'>
        <img src='images/class_icons/{{ class.page }}.png' />
        {{ class.name }}
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<br/>

<h2>Fertigkeiten API</h2>

<p>Ich habe ein JSON-Endpoint hinzugefügt, das alle Klassen auflistet, deren verfügbaren Fertigkeiten und unabhängige Fertigkeiten auflistet:</p>
<p><a href='skills.json' class='btn btn-danger'>Fertigkeiten JSON</a></p>

<h2>Beispiel für Fertigkeiten Symbole und Tooltips</h2>

<div class='skills'>
  {% for skill in site.data.paladin.non_stance_skills %}
    {% assign skill_data = site.data.paladin.skills | where: "slug", skill.slug | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div>

<h2>Beispiel Rotationen</h2>

<p>Rotationen könnten in einem ähnlichen Format wie unten bereitgestellt werden, um anderen Mitspielern zu zeigen welche Rotationen ihr verwendet.(In Bearbeitung!)</p>

<div class='rotation'>
  {% assign rotation = site.data.paladin.rotations | where: "name", 'Example combo' | first %}
  {% for skill in rotation.skills %}
    {% assign skill_data = site.data.paladin.skills | where: "slug", skill | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div>

<h2>Beispiel für Fertigkeiten Baum</h2>

<p>Fertigkeiten Bäume können zusammengestellt werden, um die verfügbaren Fertigkeiten im Ketten Kampfsystem von Bless Online zu zeigen.</p>

{% assign stance = site.data.paladin.stances | first %}
<div class='stance'>
  <div class='stance-name'>
    <h3>{{ stance.name }}</h3>
  </div>

  {% assign skills = site.data.paladin[stance.slug] %}
  {% for skill in skills %}
    <div class='combo initial'>
      {% assign skill_data = site.data.paladin.skills | where: "slug", skill.slug | first %}
      {% include skill.html skill=skill_data starter=true  %}
      {% include combo.html skill=skill class=site.data.paladin  toplevel=true %}
    </div>
  {% endfor %}
</div>
